@import "tailwindcss";

@layer base {
  * {
    border-color: #44474d;
  }
}

/* Custom scrollbars for high-density police telemetry tables */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0b1326;
}
::-webkit-scrollbar-thumb {
  background: #222a3d;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2f4a70;
}
